body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.leftSideInfo {
  height:150px;
  width: 150px;
  overflow: hidden;
}

.leftSideInfo img {
  object-fit: contain;
  width: 100%;
  height: 100%;
}

.rightSideInfo {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.infos {
  display: flex;
  justify-content: space-between;
  font-size: 14px;
}

.info {
  width: max-content;
}

.info .label {
  width: max-content;
  color: #888;
}
